body {
    background:#f1e6e6;
    text-align:right;
    direction:rtl;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 
  
}

li {
  float: right;
   padding-right:100px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



    
.carousel-inner img {
    width: 100%;
    height: 100%;
    
  }
img {
    width:100%;
    padding:10px;
  
}

 .post-img {
  display: block;
  overflow: hidden;
}

.post-img>img {
  width: 100%;
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
}

.post-img:hover>img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


.snip1401 img {
    height:300px;

}


.text-latter {
    text-align:right;
    font-size:25px;
    text-indent:30px;
    font-family:  Arial;
    color:#3717ae;
    font-weight:bold;
}

.p-index {
    text-align:right;
    font-size:18px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:0px;
    font-family:'Times New Roman';
    max-height:160px;
    overflow:hidden;
}
h3:hover {
        color:red;
       
    }
p:hover {
    color:#123fc4;
}

.border {
    border:2px solid #eed887;
    margin:1px;
}
.text-latter-big {
    text-align:right;
    font-size:30px;
    text-indent:60px;
    padding:5px;
    font-family:  Arial;
    color:#3717ae;
    font-weight:bold;
  }
.p-index-big {
     text-align:right;
    font-size:20px;
    padding:10px;
    font-family:'Times New Roman';
    max-height: 100px;
    background:#fff;
    margin-bottom:0px;

}

.center {
    text-align:center;
}
.p-news {
    font-size:12px;
    font-family:'Times New Roman';
    overflow:hidden;
    padding:5px;
}


#backgro {
    background:#cce7f1;
}







/*####################### «·«Œ»«—  ################*/

#blog {
    padding-top:10px;
    
}

.snip1401 {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 0px;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  color: #000000;
  text-align: right;
  font-size: 16px;
  background-color: #ffffff;

}

.snip1401 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 img {
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1401 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 60%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
 
}
.snip1401 figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffffff transparent transparent;
}

.snip1401 h3,
.snip1401 p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}
.snip1401 h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 22px;
  opacity: 0.75;
  color:red;
  font-family:Arial;
}
.snip1401 p {
  font-size: 16px;
}
.snip1401 i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #ffffff;
  opacity: 0;
}
.snip1401 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1401:hover img,
.snip1401.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}


.section.lb {
    background-color: #f2f3f5;
    padding-bottom:0px;
}

/*####################  ##################*/



/* ###########################  ######################### */


footer {
   
    height:100px;
    width:100%;
    font-size:12px;
    margin:20px;
    background:#333;
}
.center {
    padding:20px;
    margin:20px;
    margin-bottom:0px;
}